* {
   margin: 0;
   padding:0;
   box-sizing: border-box;
}

.header {
   width:100%;
   height:auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: fixed;
   border-bottom:2px solid lightblue;
   z-index:2;
   background-color: white;
}

.header h1 {
   width:100%;
   text-align: center;
   padding:2rem;
   background-color: lightblue;
   margin-bottom:1rem;
   color:white;
}

.header input {
   max-width: 600px;
   padding:1rem;
   width:100%;
   text-align: center;
   border:2px solid lightblue;
   outline:none;
   margin-top:2rem;

}

.header button {
   max-width: 600px;
   width:100%;
   padding:.5rem;
   background-color: lightblue;
   border:none;
   color:white;
   box-shadow: 5px 5px 5px 0px rgba(0,0,0, 0.2);
   margin-bottom:3rem;
}

.header button:hover {
   filter: brightness(105%);
}

.header button:active {
   transform: translateY(1px)
}

/* Individual Weather Results Dynamically Displayed */

.weather-results-container {
   width:100%;
   height:100vh;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index:1;
}

.weather-results-container h2{
   font-size: 3rem;
}
.weather-results-container p {
   padding:1rem;
   color: #333;
   font-size: 1.5rem;
}


.styling-weather-results-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:2rem;
   box-shadow: 0 1px 5px rgba(0, 0, 0 , 0.1), 0 6px 30px rgba(0, 0, 0 , 0.1);
   border-radius: 9px;
   width:100%;
   max-width:800px;
}

.weather-img {
   width:100%;
   height:50px;
   max-width: 50px;
   margin: 2rem 0;
}

/* Media Queries */
.styling-weather-results-container {
   margin:2rem;
}